<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Contato</title>
    <link rel="stylesheet" type="text/css" href="static/css/padrao.css">
    
</head>
<body>
    <div class="header">
        <img class="logo" src="static/images/logo-new.png">
            <nav id="menu">
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li><a href="ListaCursos">Lista de Cursos</a></li>
                    <li><a href="DetalheCurso">Detalhe de Curso</a></li>
                    <li><a href="Disciplina">Disciplina</a></li>
                    <li><a href="Noticias">Notícias</a></li>
                    <li><a href="Contato">Contato</a></li>
                    <li><a href="Login">Login</a></li> 
                </ul>
            </nav>
    </div>
    <div id="principal">
        <div id="conteudo-2">
            <div id="corpo"> 
                <h1>SÓ PRA TER CERTEZA QUE TEM ALGUMA COISA AQUI</h1>
            </div>
        </div>
    </div>
</body>
<footer>
        <div class="rodaPeImg">
       	    <a href="https://www.facebook.com/FacImpacta/" ><img  width="25" height="25" src="static/images/facebook-logotipo_318-49940.jpg"></a>
            <a href="https://www.instagram.com/impacta.oficial/" ><img  width="25" height="25" src="static/images/images.jpg"></a>
            <a href="https://twitter.com/facimpacta"><img  width="25" height="25" src="static/images/twitter.jpg"></a>
        </div>
        <a href="https://www.impacta.edu.br/">Faculdade Impacta Tecnologia</a>
</footer>
</html>

